body {
  background-color: #dfdfdf;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(22, 22, 22, 0.42) 0%,
      rgba(22, 22, 22, 0.42) 100%
    ),
    url("/images/background.jpg");
}
